<nav class="main-nav">
  <button class="btn btn-secondary" routerLink="/dashboard" routerLinkActive="disabled">Dashboard</button>
  <button class="btn btn-secondary" routerLink="/heroes" routerLinkActive="disabled">Heroes</button>
</nav>

<div class="row">
  <ng-container *ngIf="heroes$ | async as heroes">
    <div class="col" *ngFor="let hero of heroes">
      <div class="card" [routerLink]="'/heroes/' + hero.id + '/edit'">
        <div class="card-body text-center">
          {{hero.name | enhanceName}}
          <br>
          <em class="fw-lighter">(Score: {{hero.score}})</em>
        </div>
      </div>
    </div>
  </ng-container>
</div>
