<ng-container *ngIf="hero$ | async as hero">
  <ul>
    <li routerLink="/dashboard">Dashboard</li>
    <li (click)="onHeroesClick(hero)">Heroes</li>
  </ul>

  <h2>{{hero.name | enhanceName}} details</h2>
  <ng-container [formGroup]="form">
    <div class="form-field">
      <label for="id">id:</label>
      <input readonly id="id" formControlName="id"/>
    </div>

    <div class="form-field">
      <label for="name">Name:</label>
      <input id="name" formControlName="name"/>
    </div>

    <div class="form-field">
      <label for="rank">Rank:</label>
      <input type="number" id="rank" formControlName="rank"/>
    </div>

    <button routerLink="/">Back</button>
    <button (click)="onSave()">Save</button>
  </ng-container>
</ng-container>
