<ng-container *ngIf="hero$ | async as hero; else noHero">
  <nav class="main-nav">
    <button class="btn btn-secondary" routerLink="/dashboard">Dashboard</button>
    <button class="btn btn-secondary" [routerLink]="'/heroes/' + hero.id">Heroes</button>
  </nav>




  <h2 class="title">{{hero.name | enhanceName}} details</h2>
  <ng-container [formGroup]="form">

    <div class="mb-3">
      <label for="id" class="form-label">ID:</label>
      <input readonly class="form-control" id="id" formControlName="id">
    </div>

    <div class="mb-3">
      <label for="name" class="form-label">Name:</label>
      <input class="form-control" id="name" formControlName="name">
    </div>

    <div class="mb-3">
      <label for="rank" class="form-label">Rank:</label>
      <input type="number" class="form-control" id="rank" formControlName="rank">
    </div>

    <button class="btn btn-secondary me-1" routerLink="/">Back</button>
    <button class="btn btn-primary" (click)="onSave()">Save</button>
  </ng-container>
</ng-container>

<ng-template #noHero>
  <h1>ERROR, Hero does not exist</h1>
</ng-template>
